.app {
  text-align: center;
  --red: 230;
  --green: 230;
  --blue: 230;
  --aa-brightness: calc((
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)
    ) / 1000);
    --aa-brightness: calc((
    (var(--red) * 299) +
    (var(--green) * 587) +
    (var(--blue) * 114)
  ) / 1000);
  --aa-color: calc((var(--aa-brightness) - 128) * -1000);
  background: rgb(var(--red), var(--green), var(--blue));
  color: rgb(var(--aa-color), var(--aa-color), var(--aa-color));
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

.chapters {
  padding: 0 20px;
}
.chapter h3 {
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
}
.chapter p {
  width: 60ch;
  max-width: 100%;
  hyphens: auto;
  text-align: justify;
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

.navigation {
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #B0BEC5;
  border-top: 1px solid #90A4AE;
  box-shadow: -2px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.navigation .navigation-list {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation-list li {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem;
  border: 2px solid #37474F;
  border-radius: 6px;
  font-weight: bold;
  background: #546E7A;
  color: white;
  transition: 0.2s ease-in;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  width: 20px;
}

.navigation-list li:hover {
  transition: 0.2s ease-in;
  background: #455A64;
}